aniso8601==10.0.0
atomicwrites==1.4.1
attrs==25.1.0
Click==8.1.8
colorama==0.4.6
coverage==7.6.12
Flask==3.1.0
Flask-RESTful==0.3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
more-itertools==10.6.0
pluggy==1.5.0
py==1.11.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-env==0.6.2
pytest-flask==0.14.0
pytz==2018.7
redis==3.0.1
six==1.12.0
Werkzeug==0.14.1
